body{
	margin: 10px;
	padding: 0;
}
/*header start*/
header{
	background-color: white;
	padding: 10px 0;
}

.wrapper{
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}

.logo{
	/*border: 1px solid red;*/
	width: 25%;
	float: left;
}

.logo img {
	width: 100%;
}

.menu{
	width: 70%;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 10px;

}

.menu ul{
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 45px;
	transition: .3s;

}

.menu ul li a:hover{
	color: #2CD3E4;
}
/*header end*/

/*banner section start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.b_content{
	width: 25%;
	/*border: 1px solid red;*/
	margin-top: 60px;
	margin-bottom: 200px;
	background-color:rgba(11, 11, 11, .5);
}
.b_content h1{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	margin-left: 20px;
	line-height: 40px;
	
}
.b_content p{
	font-family: sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	line-height: 25px;
	word-spacing: 5px;
	margin-left: 20px;
}
.b_content button{
	width: 130px;
	height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: white;
	background-color:rgba(11, 11, 11, .7);
	border: 0;
	border-radius: 3px;
	transition: .3s;
	cursor: pointer;
}
.b_content button:hover{
	color: #276FD2;
}

/*banner section end*/
/*service start*/
.wrapper1{
	/*border: 1px solid red;*/
	overflow: hidden;
}
.services{
	width: 30%;
	float: left;
	/*border: 1px solid green;*/
	padding: 50px 22px 70px 20px;
}

.services h3{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: lightgray;
	text-align: center;
}

.services h3:hover{
	color: #276FD2 ;
	cursor: pointer;
	transition: .3s;
}
.services img{
	width: 100%;
}
.services p{
	
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: gray;
	text-align: center;
	padding: 25px 50px 30px 50px;
}
button{
	width: 80px;
	height: 25px;
	background-color: #465D75;
	border: none;
	border-radius: 3px;
	margin-left: 155px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: white;
	text-align: center;
}

button:hover{
	color: #276FD2 ;
	cursor: pointer;
	transition: .3s;
}


/*service end*/
/*footer start*/
footer{
	text-align: center;
}
.copyright {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: gray;	
}
p{
	font-family: sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: gray;
}

#my_centered_buttons { 
	display: flex; 
	justify-content: center;
}

/*footer end*/
